<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>Angular Demo - SonLT</title>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/javascripts/controllers.js"></script>
    <script src="/javascripts/directives.js"></script>
    <script src="/javascripts/services.js"></script>
    <script src="/javascripts/filters.js"></script>
    <script src="/javascripts/app.js"></script>

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div class="container" ng-view>
    <!-- Contents go here -->
</div>
</body>
</html>