<div class="col-md-12">
    <h1 class="text-center">Player Of The Year Award</h1>
</div>

<ranking-table></ranking-table>

<div class="col-md-9">
    <div class="col-md-4 jumbotron player-grid" ng-repeat="player in players">
        <a href="#/details/{{players.indexOf(player)}}">
            <div class="col-md-12">
                <img ng-src="images/{{players.indexOf(player)}}.jpg" alt="Photo of {{player.name}}" class="img-circle img-responsive center-block">
                <h2 class="text-center text-capitalize">{{player.name}}</h2>
                <h3 class="text-center">{{player.numberOfVotes}} votes</h3>
                <p style="font-size: medium">
                    <span style="font-weight: bold">Nationality: </span>{{player.nationality}}
                </p>
                <p style="font-size: medium">
                    <span style="font-weight: bold">Club: </span>{{player.club}}
                </p>
            </div>
        </a>

        <vote-buttons></vote-buttons>


    </div>
</div>