.player-grid{
    min-height: 537px;
}

.player-details{
    border-radius: 5px;
    border-color: #000000;
    border-width: 3px;
    border-style: dashed;
    padding-bottom: 5px;
}

.player-details-img{
    margin-top: 10px;
}

#vote-result-list li:first-child{
    font-weight: bolder;
    color: dodgerblue;
}